$primary: #448AFF;
$success: #4CAF50;
$danger: #F44336;
$warning: #FF9800;
$info: #03A9F4;
$secondary: #757575;

$body-bg: #ffffff;
$body-color: #212121;

$font-family-sans-serif: Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
$font-size-base: 0.9rem;
$font-weight-base: 300;
$font-weight-bold: 500;
$line-height-base: 1.6;

$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1370px) !default;